<div id="content-header"></div>
<div id="posts">
  <div class='post'>
    <div class='post-content'>
      <div class='post-title'><%= @post.title %></div>
      <div class='post-meta'>
        <span class='author'>by <%= @post.author_display_name %> | </span>
        <span class='date'>
          <% if @post.created_at > (Time.now-1.hour) %>
            <%= time_ago_in_words(@post.created_at) %> ago
          <% else %>
            <%= @post.created_at.strftime("%B %e, %Y") %>
          <% end %>
        </span>
      </div>
      <div class='post-body'>
        <%= simple_format(@post.body) %>
      </div>
    </div>
  </div>
</div>
<div id="content-footer"></div>
