<!DOCTYPE html>
<html>
<head>
  <title>PostIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner-spacer spacer-top">
    <%= link_to('PostIT', root_path, :id => 'home_logo') %>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success log-button") %>
      <%= link_to('Profile', edit_user_registration_path, :class => "btn btn-success log-button") %>
      <%= link_to('My Posts', my_posts_path, :class => "btn btn-success log-button") %>
      <%= link_to('All Posts', posts_path, :class => "btn btn-success log-button") %>
    <% else %>
      <%= link_to('Login', new_user_session_path, :class => "btn btn-success log-button")  %>
    <% end %>
  </div>
  <div class='content'>
    <%= yield %>
  </div>
</body>
</html>
